body, h1, h2, p {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}


main {
    padding: 20px;
}